* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  background-color: hsl(249, 79%, 9%);
  min-height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
